In [34]:
import sqlite3

In [35]:
conn = sqlite3.connect("MapPy.db")
cursor = conn.cursor()

In [50]:
sql = "SELECT id FROM GeographicalObjects;"
cursor.execute(sql)
print(cursor.fetchall())

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,), (9,)]

In [55]:
cursor.execute("""INSERT INTO GeographicalObjects(admin_level,name,priority,x,y)
                  VALUES (?, 'Россия', 142000000, 0, 0)""", (1,))
conn.commit()